/*
* @Author: admin
* @Date:   2018-06-19 08:42:40
* @Last Modified by:   admin
* @Last Modified time: 2018-06-19 16:13:50
*/
/*
* @Author: admin
* @Date:   2018-06-13 09:02:05
* @Last Modified by:   admin
* @Last Modified time: 2018-06-14 16:19:27
*/
*{
	margin:0px;
	padding:0px;
	list-style:none;
}
body{
	color: #222;
	font-size: 12px;
}
header{
	width:100%;
	height:128px;
	background:#00a0d8;
	margin:0 auto;
	margin-bottom:30px;
}
.header_top{
	width:980px;
	height:106px;
	margin:0 auto;	
}
.con_top{
	width:980px;
	height:30px;
	border-bottom: 1px solid #ddd;
	margin:0 auto;	
	margin-bottom:40px;
}
.con_top p{
	font-size:38px;
	width:100px;
	margin:0 auto;
	text-align:center;
	background: #fff;
}
.con_co{
	width:980px;
	height:430px;
	margin:0 auto;
	margin-bottom:40px;
}
.iput1{
	width:412px;
	height:42px;
	position:relative;
	left:280px;
	outline:none;
}
.iput2{
	width:412px;
	height:42px;
	position:relative;
    left: -143px;
    top: 80px;
	outline:none;
}
.iput3{
	width:317px;
	height:42px;
	position:relative;
    left: 376px;
    top: 113px;
	outline:none;
}
.country_code{
	height:46px;
	width:91px;
	position:relative;
    left: -48px;
    top: 113px;
}
.iput4{
	width:280px;
	height:42px;
	position:relative;
    left: -146px;
    top: 190px;
	outline:none;
}
.con_co button{
	cursor:pointer;
	color:white;
	position:relative;
	width:130px;
	height:46px;
	background:#00b5e5;
	left: -155px;
    top: 190px;
	border:none;
}
.con_co a{
	font-size:12px;
}
.con_co .p1{
	width:100px;
    color:#00b5e5;
    font-size:12px;
    position:relative;
    left: 630px;
    top: 121px;

}
.con_co .p2{
	font-size:12px;
	width:412px;
    position:relative;
    left: 284px;
    top: 201px
}
.iput5{
	width:416px;
	height:42px;
	position:relative;
	left: 280px;
    top: 214px;
    background: #f9f9f9;
	color:#aaa;
    border:0px;
	outline:none;
}
.con_co .p3{
	width:200px;
    color:#00b5e5;
    font-size:12px;
    position:relative;
	left: 570px;
    top: 235px;
}
section a:link,section a:visited{
 text-decoration:none; 
     color:#00b5e5;
}
footer{
	width:100%;
	background:#f6f9fa;
	padding-top:20px;
}

.foot{
	width:1160px;
	height:322px;
	margin: 0 auto;
}
.foot_top{
	width:1160px;
	height:112px;
	margin-bottom:30px;
}
.foot_top li{
	float:left;
	height:112px;
}
.foot_top li:nth-of-type(1){
	width:420px;
	// margin-right:10px;
	border-right: 1px solid #ddd;
}
.foot_top li:nth-of-type(2){
	width:400px;
	margin-left:20px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
}
.foot_top li:nth-of-type(3){
	width:310px;
	padding-left:30px;
	box-sizing: border-box;
}
footer a{
	color:black;
	cursor:pointer;
}
footer a:link{
 text-decoration:none; 
}
footer a:hover{
	color:#00b5e5;

}
.foot_top .tip{
	width:420px;
	margin-bottom:20px;
}

.foot_top .cards{
	width:120px;
	height:30px;
	float:left;
}
.iphone{
	width:82px;
	height:80px;
	position:relative;
	float:left;
}
.iphone .ph{
	width:60px;
	height:60px;
	background:url('../images/icons.png') no-repeat -1024px -194px;
}
.iphone p{
	position:absolute;
	bottom:-8px;
	left:-8px;
}
 .bg {
	 width: 100px;
	 height: 100px;
	 position: absolute;
	 background: white;
	 left: -27px;
	 top: -105px;
	 border: 1px solid #ddd;
	 padding:10px;
	 box-sizing: border-box;
	 display:none;
 }
 .bc{
	 float:left;
	 width: 212px;
	 height: 120px;
	 position: absolute;
	 border: 1px solid #ddd;
	 padding-left:15px;
	 padding-top:15px;
	 box-sizing: border-box;
	 background:white;
	 left: -125px;
	 top: -125px;
	 display:none;
 }
 .bc .sp1{
	 position:absolute;
	 bottom:6px;
	 font-size: 12px;
	 left:7px;
 }
.bc .sp2{
	position:absolute;
	bottom:6px;
	font-size: 12px;
	right:21px;
}
 .bc img:nth-of-type(1){
	 float:left;
	 margin-right:15px;
 }
.weibo{
	float:left;
	width:82px;
	height:80px;
	position:relative;
}
.weibo .wb{
	width:60px;
	height:60px;
	background:url('../images/icons.png') no-repeat -1024px -322px;

}
.weibo p{
	position:absolute;
	bottom:-8px;
	left:0px;
}
.wchat{
	float:left;
	width:82px;
	height:80px;
	position:relative;
}
.wchat .wc{
	width:60px;
	height:60px;
	background:url('../images/icons.png') no-repeat -1024px -66px;
}
.wchat p{
	position:absolute;
	bottom:-8px;
	left:0px;
}
.foot_left{
	float:left;
	width:100px;
	height:80px;
	background:url('../images/index.png');
}
.foot_right{
	width:970px;
	height:80px;
	margin:0 auto;
	padding-top:7px;
	padding-left:20px;
	box-sizing:border-box;
}
.foot_right p{
	font-size:12px;
	line-height:20px;
}
.foot_right i{
	position:relative;
	bottom:-4px;
	display:inline-block;
	width:16px;
	height:16px;
	background:url('../images/icons.png');
	background-position: -1367px -89px;
}
.foot_right img{
	position:relative;
	bottom:-5px;
}
.foot_right a{
	opacity: 0.5;
}
.foot_right a:hover{
	opacity: 1;
	color:black;
}
.foot_fo{
	position:relative;
}
.img1 ,.img2{
	cursor:pointer;
}
.img2{
	position:absolute;
	left:0px;
	display:none;
}